{{#> layout currentPage='Login'}}
    <div class="container">
      <h1 class="text-center mt-3">Login</h1>
      <div class="form-input-register">
        <form id="loginForm" action="/login" method="post">
          <div class="mb-4">
            <input name="email" id="email" type="text" class="form-control" placeholder="Email" />
          </div>
          <div class="mb-4">
            <input name="password" id="password" type="password" class="form-control" placeholder="Password" />
          </div>
          {{#if messages.success}}
          <br>
          <div class="alert alert-success" role="alert">
            {{messages.success}}
          </div>
          {{/if}}

          {{#if messages.error}}
          <br>
          <div class="alert alert-danger" role="alert">
            {{messages.error}}
          </div>
          {{/if}}
          <div align="center">
            <button
              type="submit"
              class="rounded-2 btn btn-primary"
            >
              Log In
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <script src="/js/my-project.js"></script>
{{/layout}}