{{#> layout currentPage='Home'}}
    <main class="container mb-3">
               {{#if messages.success}}
          <br>
          <div class="alert alert-success" role="alert">
            {{messages.success}}
          </div>
          {{/if}}

      <div class="row mt-5 p-3 rounded-2" id="indexRow">
        <div class="col-8" id="pInformation">
          <h1>Hi Welcome to my hut</h1>
          <p style="text-align: justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
            perspiciatis sequi voluptatem eius sunt explicabo cum consectetur in
            porro, quaerat earum a. Eius debitis nemo dicta voluptatum vitae
            beatae nisi, vel sint aperiam inventore recusandae aliquam excepturi
            enim aliquid iusto quo obcaecati tenetur quae atque commodi
            distinctio ab similique. Nam impedit doloribus, tempore, totam dolor
            rem molestiae dolorem voluptas ut sed reprehenderit quisquam. Esse
            totam veniam doloremque ipsum, facilis dolor placeat maxime ducimus
            eveniet repudiandae veritatis. Odio, numquam ipsum. Corrupti
            assumenda ea fuga! Quisquam, deserunt. Iste assumenda accusamus
            laudantium vero soluta vel? Beatae quae dolorum possimus veritatis
            nihil illo nesciunt.
          </p>

          <div>
            <a
              href="https://t.me/js9s1"
              class="btn me-3"
              id="btn-black"
              target="_blank"
            >Contact</a>
            <a
              href="/documents/cvtes.pdf"
              class="download"
              target="_blank"
              style="text-decoration: none; color: #000"
            >download CV
              <img
                src="/img/dl.png"
                style="width: 20px; height: 20px"
                alt="download"
              /></a>
          </div>

          <div class="sosial-media">
            <a href="http://linkedin.com/" target="_blank"><img
                src="/img/in.png"
                alt="linkedin"
              /></a>
            <a href="https://www.instagram.com/" target="_blank"><img
                src="/img/ig.png"
                alt="instagram"
              /></a>
            <a
              href="https://web.facebook.com/?_rdc=1&_rdr#"
              target="_blank"
            ><img src="/img/fb.png" alt="facebook" /></a>
            <a href="https://x.com/?mx=2" target="_blank"><img
                src="/img/twit.png"
                alt="twitter"
              /></a>
          </div>
        </div>

        <div class="col p-3">
          <div class="profile">
            <img src="/img/profile.jpg" alt="profile" />
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Jaya Santosa Saleh</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fullstack Developer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/hamburger-menu.js"></script>
{{/layout}}