@media screen and (max-width: 768px) {
  #indexRow {
    display: block;
  }
  #pInformation {
    width: 100%;
    margin-bottom: 10px;
  }
  .profile {
    width: 70%;
  }

  #testimonialsContainer {
    display: block;
  }
  #testimonialsContainer article {
    margin-bottom: 15px;
  }
  #testimonialStarButton button {
    padding: 5px 10px;
  }
  .form-input-register {
    width: 70%;
  }
}
