body {
  background-color: #e3e7eb !important;
}
/* index start */
#indexRow {
  width: 90%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 5px 10px #b9b9b9;
}
#btn-black {
  background-color: #000;
  color: white !important;
}
#btn-black:hover {
  background-color: orangered !important;
}

.sosial-media {
  margin-top: 20px;
}
.sosial-media a {
  margin-right: 20px;
  text-decoration: none;
}
.sosial-media img {
  margin-top: 20px;
  height: 35px;
  width: 35px;
  filter: grayscale(100%);
  transition: margin-left 0.2s, height 0.3s, width 0.3s, filter 0.3s;
}
.sosial-media img:hover {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  filter: grayscale(0%);
}
.actived {
  font-weight: 700 !important;
}
.profile {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 5px 5px 5px #cfcfcf;
}
.profile img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-height: 280px;
  object-fit: cover;
}
/* index end */
.form-input-my-project {
  width: 70%;
  margin: auto;
}
.date-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.date-group {
  flex: 1;
  min-width: 250px;
}
#spanChoose {
  padding: 10px;
  width: 30%;
  background-color: #414141;
  color: white;
  border-radius: 5px 0 0 5px;
}
#spanChoose:hover {
  background-color: #292929;
  color: white;
}

.project-card {
  box-shadow: 0 0 5px 5px 10px #000 !important;
}
.h-100 img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}
.iconTech img {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}
.btn-edit-delete {
  display: flex;
  justify-content: space-around;
}
.btn-edit-delete button {
  width: 45%;
}
.submit-contact-me {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px 20px;
}
.submit-contact-me:hover {
  background-color: orangered;
}
